Repository olaban-ji/nest-js-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --bail --passWithNoTests

deploy: a832e08f3d4e57706e1a8d8fb3071a71e1293489
  classes/ChangePasswordDto.html
  classes/CreateUserDto.html
  classes/CreateUserResponseDto.html
  classes/DatabaseSeeder.html
  classes/GetProfileResponseDto.html
  classes/UpdateProfileDto.html
  classes/UserFactory.html
  controllers/UserController.html
  coverage.html
  dependencies.html
  entities/User.html
  graph/dependencies.svg
  injectables/AuthService.html
  injectables/CreateUserCommand.html
  injectables/JwtStrategy.html
  injectables/LocalStrategy.html
  injectables/UserService.html
  injectables/UserSubscriber.html
  js/menu-wc.js
  js/menu-wc_es5.js
  js/search/search_index.js
  miscellaneous/variables.html
  modules.html
  modules/AppModule.html
  modules/AppModule/dependencies.svg
  modules/AppRedisModule.html
  modules/AppRedisModule/dependencies.svg
  modules/AuthModule.html
  modules/AuthModule/dependencies.svg
  modules/HttpClientModule.html
  modules/HttpClientModule/dependencies.svg
  modules/UserModule.html
  modules/UserModule/dependencies.svg
  modules/UsersModule/dependencies.svg
  overview.html
Due: prettier --write, eslint --fix

feat(general): enhancements
  .lintstagedrc.json
  package.json
Due: none

feat(general): enhancements
  .github/workflows/enforce-production-merge-from-dev.yml
  .github/workflows/test.yml
Due: none

feat(general): enhancements
  .github/workflows/test.yml
Due: none

feat(general): enhancements
  src/modules/user/user.service.spec.ts
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests

feat(general): enhancements
  src/config/mikro-orm.config.ts
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests

deploy: abd9525a4aca23d81087cdfddf101779f67ac7e7
  coverage.html
  js/search/search_index.js
  miscellaneous/variables.html
Due: prettier --write, eslint --fix

New files from Fly.io Launch
  fly.toml
Due: none

feat(general): enhancements
  README.md
  fly.toml
Due: none

deploy: 6aa83d79be226d90e4e68eda311af754b0cf107e
  index.html
  js/search/search_index.js
Due: prettier --write, eslint --fix

feat(general): enhancements
  fly.toml
Due: none

feat(general): enhancements
  README.md
  src/config/swagger.config.ts
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests

deploy: 512a927c2f6362fb5b379434cbd426a5f0a679e4
  index.html
  js/search/search_index.js
Due: prettier --write, eslint --fix

feat(general): enhancements
  src/config/mikro-orm.config.ts
  src/migrations/.snapshot-playground.json
  src/migrations/Migration20251019145720.ts
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests

deploy: b6f88d37395748bf93ad1e685fe4953c1c17ca60
  classes/Migration20251019145720.html
  coverage.html
  js/menu-wc.js
  js/menu-wc_es5.js
  js/search/search_index.js
Due: prettier --write, eslint --fix

feat(general): enhancements
  src/app.module.ts
  src/common/middlewares/request-context.middleware.ts
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests

deploy: a14cf831948aa322f5bac4f6e4631d13b803fcbd
  coverage.html
  injectables/RequestContextMiddleware.html
  js/menu-wc.js
  js/menu-wc_es5.js
  js/search/search_index.js
  modules/AppModule.html
  overview.html
Due: prettier --write, eslint --fix

fix(general): enhancements
  src/app.module.ts
  src/common/middlewares/request-context.middleware.ts
Due: prettier --write, eslint --fix, jest --bail --passWithNoTests

deploy: a10fe49c993e3fe274d60a5d35e839a3208487a2
  coverage.html
  injectables/RequestContextMiddleware.html
  js/menu-wc.js
  js/menu-wc_es5.js
  js/search/search_index.js
  modules/AppModule.html
  overview.html
Due: prettier --write, eslint --fix

deploy: 53cde1e6396e0f4cc8b85b806385309aa11507a9
  injectables/RequestContextMiddleware.html
  js/menu-wc.js
  js/menu-wc_es5.js
  js/search/search_index.js
  modules/AppModule.html
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.html)) or (any of: *.scss)
  eslint --fix: (any of: *.ts) or (any of: *.html)
  jest --bail --passWithNoTests: any of: *.ts
